.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title {
    display: block;
    font-size: xx-large;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.img {
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}

.link {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(223, 94, 47);
}

.keywords {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.keywords p {
    display: inline;
    font-size: small;
    background-color: rgb(245, 234, 189);
    padding: 4px 8px;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .card {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
    
    .bg {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 40%;
    }
    
    .img {
        border-radius: 0.2rem;
        width: 25%;
        margin-bottom: 0;
    }
}